{% load static %}

<div class="lg:mt-32 flex flex-row lg:px-12 ">
    <div class="m-lg:mt-32 lg:w-7/12 flex flex-col bg-white text-center md:space-y-4 ">
        <div class="flex flex-col w-5/6 mx-auto text-center py-6 px-10 m-lg:px-6 rounded-lg">
            <span class="font-bebas text-5xl text-cgreen lg:px-4">The Financial Advisor's Contest</span>
            <span class="font-bebas text-cblue text-4xl">2023</span>
            <span class="mx-auto ">Student Competition</span>
            <div class="flex flex-row m-md:flex-col space-x-2 mx-auto text-xl font-roboto">
                <span>November 16th, 2023</span>
            </div>
            <a class="text-lg">
                
                Federal Reserve Bank of San Francisco (Los Angeles Branch)
            </a>
            <span class="font-thin italic text-lg">
                Give your students the opportunity to partner with a professional advisor and compete for cash prizes!
            </span>
            
            <div class="flex flex-col border-2 rounded-md py-4">
                <a href="https://us02web.zoom.us/meeting/register/tZwrcuCuqzMuEtRRUcmDZXKOykGdMNwd-wUg#/registration" class="font-roboto text-cgreen text-lg underline hover:text-cgreen-dark">Virtual Teacher Info Sessions</a>
                <span>Learn what to expect and how to participate!</span>
                <span class="text-lg"><b>Tuesday, September 19, 2023</b> | 4:00pm-4:30pm</span>
                <span class="text-lg"><b>Wednesday, September 27, 2023</b> | 4:00pm-4:30pm</span>

                <a href="https://docs.google.com/forms/d/e/1FAIpQLScCD4CeRgpp_EwxG2rQoF2VW3lhzhr8QoiIbL2e5bbLPhlPXw/viewform" target="_blank" class="mx-auto mt-4 rounded-lg px-8 py-4 bg-red-700 hover:bg-red-800 text-white text-xl font-roboto cursor-pointer">
                    Register Today!
                </a>


            </div>
        </div>
       
    </div>
    <img class="m-lg:hidden w-5/12 object-cover rounded-r-lg" src="{% static 'index/advisor-banner.png'%}" alt="">
</div>