{% load static %}

<div class="mt-32 flex flex-row md:px-12 m-md:px-4 ">
    <img class="m-md:hidden w-1/2 md:rounded-l-lg m-md:rounded-lg" src="{% static 'econ-october-2023.jpg'%}" alt="">
    <div class="md:w-1/2 flex flex-col bg-white text-center md:space-y-4 bg-cgreen m-md:px-4 md:px-12 justify-center md:rounded-r-lg m-md:rounded-lg m-md:py-4">
        <div class="flex flex-col space-y-4">
            <span class="font-bebas text-5xl text-white text-left">October is Economic Education Month! 🎉</span>
            <span class="font-roboto text-xl text-white text-left">All month long we’ll explore how economics is an exciting, dynamic subject that affects everyone’s life every day.</span>
            <div class="flex flex-row m-md:flex-col space-x-4 md:mx-auto">
                <a class="rounded-lg bg-yellow-500 hover:bg-yellow-600 font-roboto text-white text-xl p-2" href="/econedmonth">Learn more</a>
                <a class="font-roboto text-white hover:drop-shadow-lg text-xl p-2" href="/calendar">Upcoming Events</a>
            </div>
        </div>
    </div>
</div>