{% load static %}

<div class="mt-32 flex flex-row px-12 ">
    <div class="md:w-2/3 flex flex-col bg-white text-center md:space-y-4 ">
        <div class="flex flex-col w-5/6 mx-auto text-center py-6 px-10 rounded-lg border-8 border-gray-900">
            <span class="font-bebas text-4xl text-cblue px-6">Economics for empowerment summer seminar</span>
            <span class="font-roboto text-2xl">In-Residence Summer Professional Development</span>
            <span class="font-roboto text-gray-600 text-3xl">June 12-17, 2022</span>
            <div class="text-2xl"><span class="font-roboto">Concordia University </span><span class="font-light">| </span><span class="font-thin italic">Irvine, CA</span></div>
        </div>
        <span class="font-roboto text-3xl text-red-700">FULL SCHOLARSHIPS AVAILABLE!</span>
        <a href="https://events.r20.constantcontact.com/register/eventReg?oeidk=a07ej65e5zacb82fbdc&oseq=&c=&ch=" target="_blank" class="mx-12 rounded-lg px-4 py-2 bg-red-700 hover:bg-red-800 text-white text-xl font-roboto cursor-pointer">
            San Diego Educators apply for a scholarship by Tuesday, May 17 2022
        </a>
        <a href="/caset" class="m-md:mt-2 mx-12 rounded-lg px-4 py-2 bg-cblue hover:bg-cblue-dark text-white text-xl font-roboto cursor-pointer">
            Learn More
        </a>
    </div>
    <img class="m-md:hidden w-1/3 rounded-r-lg" src="{% static 'index/empowerment-2023.png'%}" alt="">
</div>