 <!-- News -->
 <div x-data="loadEvents()" x-init="fetchEvents()" class="hidden pt-16 block space-x-0 lg:flex lg:space-x-6 lg:space-x-12 max-w-screen-xl mx-auto md:px-16">

    <div class=" w-full lg:w-1/2 lg:w-1/3 p-4 lg:p-0">
      <h1 class="text-7xl" style="font-family: 'Bebas Neue', cursive;">News</h1>
      <div  class="h-3 w-12 bg-cgreen"></div>
    </div>

    <div class="rounded w-full lg:w-1/2 lg:w-1/3 p-4 lg:p-0 ">
      <img  src="{% static 'index/IMG_6196.JPG'%}" class="relative rounded -z-1" alt="technology" />
      <div  class="relative p-4 pl-0 z-20">
        
        <h2 class="-ml-4 -mr-4 md:-ml-8  z-20 text-5xl text-gray-800  p-2  -mt-10 font-bebas overflow-hidden overflow-clip">
          <span class="leading-loose text-white bg-cblue p-2 px-4 rounded">
            CCEE News 
          <span>
        </h2>
        
        <p class="text-gray-700 mt-4 text-md md:h-28">
          California Council on Economic Education President and CEO Denise Gutierrez Named As One of Hispanic Lifestyle ‘s Latinas of Influence
        </p>

        <a target="_blank" href="https://www.hispaniclifestyle.com/online-with-richard-sandoval/episode-9-online-with-richard-sandoval-featuring-denise-m-gutierrez/" class="inline-block py-2 px-4 rounded text-white mt-2 ml-auto bg-cgreen hover:bg-cgreen-dark font-roboto text-xl"> Read more </a>
      </div>
    </div>

    <div class="rounded w-full lg:w-1/2 lg:w-1/3 p-4 lg:p-0">
      <img src="{% static 'index/CCEE-2019Gala-259.jpg' %}" class="rounded" alt="technology" />
      <div  class="relative p-4 pl-0 z-20">
          <div class="-ml-4 md:-ml-8  z-20 text-5xl text-gray-800  p-2 text-thin -mt-10 font-bebas rounded-lg">
            <span  class="leading-loose text-white bg-cblue p-2 px-4 rounded">
              Media Release
            <span>
          </div>
        <p class="text-gray-700 mt-4 text-md md:h-28">
          San Diego County Board of Supervisors Gets Behind Financial Literacy and Intergenerational Opportunity 
        </p>

        <a href="news/San Diego County Board of Supervisors Gets Behind Financial Literacy And Intergenerational Opportunity" class="inline-block py-2 px-4 rounded text-white mt-2 ml-auto bg-cgreen hover:bg-cgreen-dark font-roboto text-xl"> Read more </a>
      </div>
    </div>

    

  </div>
  <!-- end news -->