<div class="flex flex-col text-center space-y-4">
    <span class="font-roboto text-4xl text-red-700">Scholarships Available!</span>

    <p class="text-xl font-thin w-2/3 mx-auto">
        Thanks to the Nickoll Fund for Financial Literacy and an anonymous
        sponsor, we are now offering full scholarships to 8 teachers to attend
        and participate in the Economics for Empowerment Summer Seminar.*
    </p>
    <a href="https://events.r20.constantcontact.com/register/eventReg?oeidk=a07ej5ovo0jdf2ac8a1&oseq=&c=&ch=" class="bg-red-700 hover:bg-red-600 cursor-pointer rounded-lg text-white text-2xl font-roboto py-2 px-4 mx-auto">
        APPLY BY MAY 10, 2022
    </a>
    <p class="text-xl font-thin w-2/3 mx-auto">
        Scholarship awards will be announced on May 17, 2022
    </p>
    <div class="flex m-md:flex-col flex-row md:space-x-8 md:w-2/3 mx-auto">
        <div class="flex flex-col p-4 rounded-xl bg-cblue text-white text-left px-10 md:w-1/2 w-5/6 mx-auto">
            <b class="text-lg -ml-4">Scholarships will be awarded to:</b>
            <ul class="list-disc font-light space-y-2 mt-2">
                <li>4 teachers from <b>Los Angeles Unified School District</b></li>
                <li>
                    4 teachers from the following counties:
                    <ul class="pl-6 list-disc">
                        <li><b>Santa Clara County</b></li>
                        <li><b>Solano County</b></li>
                        <li><b>Humboldt County</b></li>
                        <li><b>Shasta County</b></li>
                        <li><b>Alameda County</b></li>
                        <li><b>San Joaquin County</b></li>
                        <li><b>Fresno County</b></li>
                    </ul>
                </li>

            </ul>
        </div>
        <div class="flex flex-col space-y-4 md:w-1/2 w-5/6 mx-auto">
            <div class="flex flex-col p-4 rounded-xl bg-cblue-dark text-white text-left px-10 ">
                <b class="text-lg -ml-4">Scholarship includes:</b>
                <ul class="list-disc font-light space-y-2 mt-2">
                    <li>6-day professional development – in-residence (Concordia University, Irvine)</li>
                    <li>Breakfast, Lunch, and snacks provided</li>
                    <li>Sunday Dinner, Monday evening social, and Thursday evening dinner provided</li>
                    <li>Receive dynamic professional development lesson plans and materials</li>
                </ul>
            </div>
            <span>*Scholarships do not cover transportation costs.</span>
            <b>Contact us to find out how to receive a program discount at adiaz@ccee.org</b>
        </div>
    </div>
</div>