{% load static %}

<div class="lg:mt-32 flex flex-row lg:px-12 ">
    <div class="m-lg:mt-32 lg:w-7/12 flex flex-col bg-white text-center md:space-y-4 ">
        <div class="flex flex-col w-5/6 mx-auto text-center py-6 px-10 m-lg:px-6 rounded-lg">
            <span class="font-bebas text-5xl text-red-700 lg:px-4">Economics for empowerment summer seminar</span>
            <span class="mx-auto text-cblue font-roboto italic">2023 Session Dates</span>
            <div class="flex flex-row m-md:flex-col space-x-2 mx-auto text-xl">
                <span>July 22-30, 2023 | Santa Clara University</span>
            </div>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSeHhGidSrNjhHgfXKws0QYtEQwrFQlTJhynaIWb0Zl8aAT_IA/viewform" class="font-bold text-xl">
                
                Scholarships Available - Click to apply by Friday 6/30!
            </a>
            <span class="font-roboto italic text-lg">
                California Standards and Framework-based Content
            </span>
            <div class="flex flex-row space-x-4 mx-auto ">
                <div class="flex flex-col md:w-2/12">
                    <img class="mx-auto lg:h-16 h-12 py-1" src="{% static 'index/spring empowerment/thoughts.png' %}" >
                    <span class="font-roboto text-sm">Economic Reasoning</span>
                </div>
                <div class="flex flex-col md:w-2/12">
                    <img class="mx-auto lg:h-16 h-12 py-1" src="{% static 'index/spring empowerment/table.png' %}" >
                    <span class="font-roboto text-sm">Markets</span>
                </div>
                <div class="flex flex-col md:w-2/12">
                    <img class="mx-auto lg:h-16 h-12 py-1" src="{% static 'index/spring empowerment/money.png' %}" >
                    <span class="font-roboto text-sm">Personal Finance</span>
                </div>
                <div class="flex flex-col md:w-2/12">
                    <img class="mx-auto lg:h-16 h-12 py-1" src="{% static 'index/spring empowerment/phone.png' %}" >
                    <span class="font-roboto text-xs">Income Inequality and Media Literacy</span>
                </div>
                <div class="flex flex-col md:w-2/12 m-md:hidden">
                    <img class="mx-auto lg:h-16 h-12 py-1" src="{% static 'index/spring empowerment/discussion.png' %}" >
                    <span class="font-roboto text-sm">Inquiry Arc & Civil Discourse</span>
                </div>
            </div>
            <span class="text-lg font-roboto">+ AND MORE!</span>
        </div>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSdY7mP2EBwA3ySrbSY5aa4r3nSV3lsGHUW5-zSmSer1wuC3gg/viewform" 
            class="flex flex-col rounded-full mx-4 p-2 py-4 bg-orange-500 text-white cursor-pointer"
            style="background-color: rgb(249 115 22);"> 
            <span class="font-bebas text-xl">Scholarships still available for Northern California teachers!</span> 
            <span class="font-thin text-lg">Click to apply</span>
        </a>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSdY7mP2EBwA3ySrbSY5aa4r3nSV3lsGHUW5-zSmSer1wuC3gg/viewform" target="_blank" class="mx-auto mt-4 rounded-lg px-8 py-4 bg-red-700 hover:bg-red-800 text-white text-xl font-roboto cursor-pointer">
            Register Today!
        </a>
    </div>
    <img class="m-lg:hidden w-5/12 object-cover rounded-r-lg" src="{% static 'index/empowerment-2023.png'%}" alt="">
</div>