{% load static %}

<div class="flex md:flex-row flex-col content-center bg-gradient-to-r from-cgreen to-cblue md:mt-24 m-md:pt-24 justify-center">
    <img class="rounded-lg md:w-1/3 m-6 object-cover" src="{% static 'student-contest.jpg' %}" alt="">
    <div class="flex flex-col space-y-4 md:w-1/4 my-auto py-4 m-md:text-center m-md:justify-center">
        <img class="w-1/3 m-md:mx-auto" src="{% static 'transparent-logo.png' %}" alt="">
        <h1 class="font-bebas text-6xl text-cgreen" >Student <br>Competitions</h1>
        <span class="font-bebas text-white text-2xl">Hands-on economic and personal finance learning while competing for cash prizes!</span>
        <a class="rounded bg-white font-roboto text-cblue mr-auto p-2 m-md:mx-auto" href="/student-programs">Learn more</a>
    </div>
</div>